.nav-container {
  background-color: #9ca5a3;
  font-weight: bold;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
ul li {
  list-style: none;
  padding-right: 1rem;
}

.balance {
  display: flex;
  padding-top: 1rem;
  padding-right: 2rem;
}

.navigation {
  display: flex;
  padding-top: 1rem;

  li {
    margin-right: 1rem;
  }
}
